node_modules/
.next/
out/
.env*.local
.env
!.env.local.example
*.log
.DS_Store
.vercel
next-env.d.ts
service-account.json
public/sw.js
public/workbox-*.js
public/worker-*.js
public/sw.js.map
public/workbox-*.js.map

.vercel
